html {
  height: 100%;
}

li a{
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 14px 16px;
  color: inherit;
  font-weight: bold;
}

li a:hover{
  color: #1dcaff;
}

.active {
  color: #1dcaff;
  background-color: #f8f9fa!important;
}

